[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/beatifulhugo"]
	path = themes/beatifulhugo
	url = https://github.com/halogenica/beautifulhugo
