<style>
    img {
      width: 400px; /* Set a small width */
      height: 400px; /* Set a small width */
    }



    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column {
      float: left;
      width: 100%;
      padding: 1px;
    }

    /* Clear floats after image containers */
    .row::after {
      content: "";
      clear: both;
      display: table;
}
</style>


<div class="row">
<div class="column">
    <a target="_blank" href="{{ .Destination | safeURL }}">
        <figure>
            <img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}" {{ end }} />
            <figcaption>{{ .Text }}</figcaption>
        </figure>
    </a>
</div>
</div>